.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.button {
    background-color: #ff385c;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    cursor: pointer;
    margin-bottom: 20px;
}